body{
    background-image: url('./../img/index_background.png');
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white
}

a:hover{
    color: gray;
}